/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&family=Manrope:wght@400;600;700&family=Water+Brush&display=swap');

/*Globals*/

html{
    box-sizing: border-box;
    font-size: 62.5%; /*1REM=10px*/
}
* {
    box-sizing: inherit;
    background-color: #FAFFF0;
    font-family: 'Manrope', sans-serif;
}

a{
    text-decoration: none;
    color:#000;
    font-size: 1.5rem;

}

img{
    display: block;
    max-width: 100%;
 }

 h1, h1 span{
    font-family: 'Water Brush', cursive;
    font-size: 5rem;

 }

 h2,h3 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 3rem;
   
 }

 .container{
    max-width: 1200px;
    margin: 0 auto;
}


/*Header y Navegacion*/

.site-name{
    margin: 50px 0 50px 0;
    text-align: center;
}

.site-name span{
    color: #7B924F;
}
.container-nav-ppal{
    border-top: 1px solid #e1e1e1;
}



.nav-principal{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.hero{
    background-image: url(../Img/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
}

/*Box Model*/

.about-us{
    width: 200px;
    padding: 25px;
}

/*Categories*/
.categories-title h2{
    text-align: center;
}
.categories-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.categories a{
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 20px;
}

.categories a:hover{
    color:#e1e1e1;
    background-color: #7B924F;
    border-bottom-right-radius: 10px;
}


