html{
    box-sizing: border-box;
}
*,*:before, *:after {
    box-sizing: inherit;
   
}
/*Globales*/

a{
    text-decoration: none;
    color:#000;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}


/*Header y Navegacion*/

.site-name{
    margin: 50px 0 50px 0;
    text-align: center;

}
.site-name span{
    color: #037bc0
}
.container-nav-ppal{
    border-top: 1px solid #e1e1e1;
}
.nav-principal{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.hero{
    background-image: url(../Img/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
}

/*Box Model*/

.about-us{
    width: 200px;
    padding: 25px;
}

/*Categories*/
.categories-title h2{
    text-align: center;
}
.categories-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.categories a{
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 20px;
}

.categories a:hover{
    color:#e1e1e1;
    background-color: #037bc0;
    border-bottom-right-radius: 10px;
}

img{
   display: block;
   max-width: 100%;
}

